<div class="navbar navbar-expand-sm bg-info navbar-dark">
    <a href="/" class="navbar-brand navbar-light d-block mx-auto">
      <img src="/img/comments-solid.png" alt="Logo balões de comentários">
    </a>
    <!-- <button class="navbar-toggler" data-toggle="collapse" data-target="#hamb">
      <div class="linha-hamb"></div>
      <div class="linha-hamb"></div>
      <div class="linha-hamb"></div>
    </button>

    <div class="collapse navbar-collapse" id="hamb">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/" class="nav-link">Respostas</a>
        </li>
        <li class="nav-item">
          <a href="/perguntar" class="nav-link">Perguntas</a>
        </li>
      </ul>
    </div> -->
</div>